* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif, Arial;
}

html, body {
  height: 100%;
}

.Hello {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Hello > .SimpleMap {
  flex-grow: 1;
}

.Hello > .NavBar {
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.NavBar li {
  display: inline-block;
  margin-right: 10px;
}

.NavBar .NavBar__hamburger {
  text-align: right;
}

.FormDivider {
  text-align: center;
  margin-bottom: 5px;
}

.Main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Main > .SimpleMap {
  flex: 1;
}

.Main > .Sidebar {
  background-color: #EDEDED;
  padding: 10px;
  width: 250px;
}

.input {
  border: none;
  padding: 5px;
  background-color: white;
  border-bottom: 2px solid lightgray;
  border-radius: 2px;
  font-size: 15px;
  margin-bottom: 5px;
}

.input:focus {
  outline: none;
  border-color: #50677c;
}

.input--full {
  width: 100%;
  box-sizing: border-box;
}

.button {
  border-radius: 2px;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: gray;
  border: none;
  padding: 5px 3px;
  border: 2px solid lightgray;
}

.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.1);
}

.button:active {
  -webkit-filter: brightness(0.9);
}

.button:focus {
  outline: none;
}

.button--full {
  width: 100%;
  box-sizing: border-box;
}

.button--primary {
  color: white;
  background-color: #208BFF;
  border: none;
  border-bottom: 2px solid #0773e8;
}
