* {
  margin: 0;
  padding: 0;
}

/* lol lots of dupe code and stuff to clean up later... */

body, input, button {
  font-family: 'Libre Baskerville', serif;
}

html, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.input {
  border: none;
  padding: 5px;
  background-color: white;
  border-bottom: 2px solid lightgray;
  border-radius: 2px;
  margin-bottom: 5px;
}

.input:focus {
  outline: none;
  border-color: #50677c;
}

.input--full {
  width: 100%;
  box-sizing: border-box;
}

.button {
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: gray;
  border: none;
  padding: 3px 5px;
  border: 2px solid lightgray;
  transition: 0.1s linear all;
}

.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.button:active {
  outline: 0;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.button--full {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-top: 10px;
}

.button--primary {
  color: white;
  background-color: #208BFF;
  border: none;
  border-bottom: 2px solid #0773e8;
}

.button:disabled {
  opacity: 0.5;
  -webkit-filter: brightness(1);
  filter: brightness(1);
  cursor: default;
}

.header__label {
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  font-size: 11px;
  border-bottom: 2px solid lightgray;
  letter-spacing: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header__label--no-margin {
  margin-top: 0;
}

.sidebar-visualization-panel {
  background-color: white;
  margin: -10px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__container {
  flex: 1;
  position: relative;
}

.magic-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.magic-center--row {
  flex-direction: row;
}

.fullscreen-map-bkg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: -webkit-filter 0.5s linear,
    filter 0.5s linear;
}

.step-1__question {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  text-align: center;

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);
}

.step-1__question-text {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0 5px;
  font-weight: bold;
  margin-left: 2vh;
}

.step-1__question-segment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}

.step-1__question-segment:last-child {
  margin-bottom: 0;
}

.step-1__question-segment .input {
  flex: 1;
  border: 0;
  border-bottom: 3px solid black;
  border-radius: 0;
  font-size:  35px;
  width: 100%;
  display: inline-flex;
  box-sizing: border-box;
  background-color: transparent;
}

.step-1__question-segment--centered {
  justify-content: center;
}

.city-autocomplete {
  position: relative;
  flex: 1;
  text-align: left;
}

.city-autocomplete__input {
  display: flex;
  margin-bottom: 0;
}

.city-autocomplete__list-item--hover {
  background-color: white;
  color: black;
}

.city-autocomplete__list-item--hover a {
  color: black;
}

.city-autocomplete__list-item-anchor {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 23px;
}

.city-autocomplete__list-item-anchor:hover {
  background-color: white;
  color: black;
}

.city-autocomplete__results {
  position: absolute;
  z-index: 100;
  width: 100%;
  font-size: 16px;
  text-align: left;
  list-style: none;
  box-sizing: border-box;

  background-color: black;
  border: 3px solid black;
  border-top: none;
  color: white;
}

.button--find-out{
  color: white;
  font-size: 3vw;
  background-color: #0E26D6;
  border: 0;
}

.step-1__button {
  text-transform: none;
  background: none;
  border: none;
  font-size: 35px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-profile {
  padding: 10px 10px 0 10px;
  border: 1px solid black;
  min-width: 350px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  margin-right: 2vw;
}

.city-profile .map-preview {
  margin: -10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.city-profile__transition-group:last-child {
  margin-right: 0;
}

.city-profile__title {

}

.map-preview {
  overflow: hidden;
  position: relative;
}

.map-preview__map {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.map-preview__extra-content {
  margin-top: 10px;
}

.map-preview__overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1;
}

.emoticon-report-tile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.emoticon-report-tile:last-child {
  margin-bottom: 0;
}

.emoticon-report-tile__mini-chart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0; bottom: 0; left: 0;
  opacity: 0;
  transition: 0.3s ease-out all;
}

.emoticon-report-tile__mini-chart .value {
  margin-right: 10px;
}

.emoticon-report-tile__emote {
  display: inline-block;
  text-align: center;
  width: 1em;
  font-size: 40px;
  margin-right: 10px;
}

.bkg--red {
  background-color: rgba(234, 28, 28, 0.6);
}

.bkg--yellow {
  background-color: rgba(252, 182, 6, 0.6);
}

.bkg--green {
  background-color: rgba(93, 165, 0, 0.6);
}

.bkg--gray {
  background-color: rgba(170, 170, 170, 0.6);
}

.loading-dialog {
  z-index: 100;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);
}

@keyframes cycle-down {
  0% {
    opacity: 0;
    transform: translateY(-5px)
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

.step-1__button i {
  animation: cycle-down 1s infinite;
}

.generic-fade-appear, .generic-fade-enter {
  opacity: 0;
}

.generic-fade-appear.generic-fade-appear-active,
.generic-fade-enter.generic-fade-enter-active {
  opacity: 1;
  transition: 1s ease-in all;
}

.generic-fade-leave.generic-fade-leave-active {
  opacity: 0.01;
  transition: 1s ease-in all;
}

.expand-in-appear {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-25px);
  transition: opacity 500ms ease-out,
    transform 500ms ease-out, max-height 700ms ease-out;
}

.expand-in-appear.expand-in-appear-active {
  opacity: 1;
  max-height: 50vh;
  transform: translateY(0);
}

.expand-in-leave.expand-in-leave-active {
  opacity: 0;
  max-height: 0;
  transform: translateY(-25px);
}

.fullscreen-button {
  background-color: black;
  color: white;
  padding: 5px 10px;

  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 100;
  opacity: 0.5;

  transition: 0.1s linear all;
}

.fullscreen-button:hover {
  opacity: 1;
  cursor: pointer;
}

.big-control__container {
  box-sizing: border-box;
  position: fixed;
  left: 0; right: 0;
  z-index: 50;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.big-control__container--top {
  top: 0;
}

.big-control__container--bottom {
  bottom: 0;
}

.big-control__button {
  background-color: black;
  color: white;
  padding: 20px;
  display: inline-block;
  box-shadow: 0 10px 70px rgba(0,0,0,0.5);
  transition: 0.2s ease-in-out all;
}

.big-control__container--top .big-control__button {
  transform: translateY(-300px) scale(1);
}

.big-control__container--bottom .big-control__button {
  transform: translateY(300px) scale(1);
}

.big-control__container:hover .big-control__button {
  transform: translateY(0);
}

.big-control__container--top:hover .big-control__button:active{
  transform: translateY(-20px) scale(0.9);
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) all;
}

.big-control__container--bottom:hover .big-control__button:active{
  transform: translateY(20px) scale(0.9);
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) all;
}

.swap-btn {
  font-size: 35px;
  color: black;
  font-size: 35px;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
  transform: scale(1) rotate(0);
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) all;
}

.swap-btn--push-right {
  margin-right: 2vw; /* same as city-profile */
}

.swap-btn:hover {
  cursor: pointer;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
  transform: scale(1.3) rotate(180deg);
}

.swap-btn:active {
  transform: scale(1) rotate(186deg);
}

.report-card {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  min-width: 370px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.report-card--push-left {
  margin-left: 7em;
}

.report-card__maps {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: -10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.report-card__maps .map-preview {
  flex-grow: 1;
  border-right: 1px solid black;
}

.report-card__maps .map-preview:last-child {
  border-right: none;
}

.report-card__vs {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-card__vs p {
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px; height: 25px;
  font-style: italic;
}

.color-cube {
  color: white;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-card__color-cubes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.report-card__color-cubes .color-cube {
  margin-right: 5px;
}

.report-card__color-cubes .color-cube:last-child {
  margin-right: 0;
}

.report-card__chart {
  border-bottom: 1px solid black;
  margin: -10px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Remove google street view full-screen btn*/
.gm-style > div:nth-child(10){
 display:none;
}

@media (max-width: 1350px) {
  .emoticon-report-tile {
    padding: 5px;
    font-size: 13px;
  }
  .emoticon-report-tile__emote {
    font-size: 36px;
    margin-right: 5px;
    width: 37px;
  }
  .city-profile, .swap-btn--push-right {
    margin-right: 15px;
  }
  .city-profile {
    min-width: 280px;
  }
  .report-card--push-left {
    margin-left: 3em;
  }
}
